/* body {
  height: 100vh;
  padding: 0;
  justify-content: stretch;
  align-items: center;
  display: flex;
  background-image: linear-gradient(-180deg, #ff1c68 0%, #9f0092 98%);
} */


body {
  height: 100vh;
  text-align: center;
  border: 50px; 
  background-image: linear-gradient(-180deg, #141e30 0%,  #4ca1af  98%);
  height:100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display:block;
}
body {
  min-height: 100vh;
}

.h1,h1 {
  color:rgba(0,0,0,0.75);
  padding:20px;
  font-family: 'Monda', sans-serif;
  font-size: 1.8rem;
  text-align:center;
  display:block;
  float:center;
}

#Grid{
  height:550px;
  margin-bottom:5px;
}

#colorblack{
  color:rgba(0,0,0,0.75);
  }

#title{
  color: white;
  font-family: 'Monda', sans-serif;
  text-align:left;
  padding:20px;
  font-size: 3.6rem;
  font-weight:700;
  display:block;
  float:left;
}

#title2{
  color: white;
  padding:20px;
  width:100vh;
  font-family: 'Monda', sans-serif;
  font-size: 1.8rem;
  text-align:left;
  font-weight:400;
  display:block;
  float:left;
  padding-bottom:30px;
}

h2{
  font-family: 'Monda', sans-serif;
  font-size: 1.0rem;
  text-align:center;
  color:rgba(0,0,0,0.75);
  padding-bottom:20px;
  float:left;
  display: block;
}

#bold{
  font-weight: bold; 
}

p {
  color:white;
  font-size: 1.0rem;
  text-align: left;
  padding:20px;
}


p span{
  display: block; 
  font-family: 'Open Sans', sans-serif;
  padding-top:10px;
}

a{
  color: #141e30;
  font-size: 14px;
}

#Analyze{
  background-image: linear-gradient(-180deg, #141e30 0%,  #4ca1af  98%);
  height:100%;
  text-align: center;
  /* align-items: center; */
  display:flex;
  justify-content:center;
  padding:100px;
}


label{
 color: rgba(0,0,0,0.75);
}

#Label{
  height:100vh;
  width: 100vh;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  align-items: center;
  display:block;
}

:root{
  height:100vh;
}

#navbar{
  font-size: 18px;
  padding:15px;
  background-color: rgba(255,255,255,0);
  width: 100vh;
}

#Manifesto{
  /* background-image: linear-gradient(-180deg, #141e30 0%,  #4ca1af  98%); */
  width: 100vh;
  height: 100vh;
  text-align: center;
  align-items: center;
  display:block;
  justify-content: left;
  padding:100px;
  padding-top:150px;
}

#About{
  display:block;
  padding:100px;
}

#EnterButton{
  height:65px;
  width: 150px;
  float:left;
  margin:20px;
  display: block;
  font-size: 1.5rem;
}

#Form{
  display: inline-block;
  background-color:rgba(0,0,0,0.3);
  height:100%;
}

#formfield{
  float:left
}

#button{
  margin:30px;
  height:50px;
  width: 100px;
}


#Column{
  padding:50px;
  height:700px; 
  margin-right:auto;
  margin-left:auto;
  display:flex;
}

#ColumnWidth{
  float:center;

}

#NextButton{
  margin-left:50px;
}

#HomeButton{
  display:block;

}

#topbutton{
  float:left;
}
label{
  color:rgba(0,0,0,0.75);
  padding-bottom:2px;
  padding-top:4px;
  float:left;
}
button {
  background-color:white;
  color:  #141e30;
  margin:30px;
}


.App{
  height:100vh;
  width: 100vh;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  align-items: center;
  display:block;
}

#Home{
  padding: 100px;
  margin-left:auto;
  margin-right:auto;
  align-items: center;
  display:flex;
}

.row{
  display:flex;
  flex-wrap:wrap;
  margin-top:auto;
  margin-bottom:auto;
  margin-right: auto;
  margin-left:auto;
  text-align:center;
}
#row{ 
  align-items: center;
  display:flex;
}

#Container{
  background: rgba(255,255,255,0.50);;
  width:1000px;
  height:750px;
  border-color: white; 
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  display:block;
  text-align:center;
  padding:50px;
  margin-top:50px;
}

#containerLabel{
  margin:5px;
  height:100%
}

#ContainerAnalyze{
  background: rgba(255,255,255,0.50);;
  width:1250px;
  height:750px;
  border-color: white; 
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}


.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  /* background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png); */
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: "";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.form-control{
  height:10px;
}

#webcam{
  margin-left:auto;
  margin-right:auto;
  display:flex;
}